<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCex3ObJ21fP2FqyC7pS2B2wWG2r7TuITc</string>
	<key>GCM_SENDER_ID</key>
	<string>1037118513656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mysqplWithFlutter</string>
	<key>PROJECT_ID</key>
	<string>first-59545</string>
	<key>STORAGE_BUCKET</key>
	<string>first-59545.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037118513656:ios:7a4df6c677c6434c99360d</string>
</dict>
</plist>